.App {
  /*margin-top: 50px;*/
  position: relative;
  margin: 0 auto;
  height: 559px;
  width: 375px;
  margin-top: 20px;
  background-color:white;
  box-shadow: 3px 3px 5px 1px;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.Header{
  /*background-color:red;*/
  display: flex;
  height: 10%;
  width: 100%;
}

.Menu{
  position: relative;
overflow: scroll;
    overflow-x: hidden;
  height: 80%;
  width: 100%;
  background-color: blue;
}

.Song{
    overflow-y: scroll;
  width: 50%;
  height: 40%;

}



.BottomNav{
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 20%;
  width: 100%;
}

.NowplayingBottomLayer{
  /*background-color: rgba(0,0,0,1);*/
  background-color: grey;
  opacity: 0.5;
  position: absolute;
  height: 50%;
  bottom: 50%;
  width: 100%;
}

.NowplayingTopLayer{
  background-color: transparent;
  position: absolute;
  bottom: 50%;
  height: 50%;
  width: 100%;
  /*bottom: 50%;*/
}

.NowplayingTopLayer img{
  /*background-color: blue;*/
  opacity: 1;
  height: 80%;
  padding: 5px;
  margin-left: 10px;
  border-radius: 10px;
}

.Navigation{
  position: absolute;
  background-color: blue;
  bottom: 0px;
  height: 50%;
  width: 100%;

}


#Filler{
  width: 10%;
  padding-top: 5%;

}

#Library{
  width: 80%;
  text-align: center;
  padding-top: 5%;

}

#Edit{
  color: #EC0035;
  width: 10%;
  padding-top: 5%;

}








/*.Header .TopNav{
  background-color:blue;
  display: flex;
  justify-content:space-evenly;
  height: 100%;
  width: 75%;
}*/

